{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "firefox": "53",
          "chrome": "56",
          "edge": "15",
          "safari": "10.1"
        }
      }
    ]
  ]
}
